

/* RESET */
* {
  font-family: Helvetica;
  margin:0; padding:0;
}


/*

Site header

*/

header#top {
    padding-top: 15px;
    padding: 15px;
    height: 196px;
    padding-left: 180px;

    /* Change colour for liturgical season? I need to get colours for all of these */
    /* background-color: #2F506D; */
    background-color: #199e43;     /* ordinary time */
    /* background-color: purple; */  /* Advent/Lent */
    /* background-color: #ffb1df; */  /* Gaudete */
    /* box-shadow: 0 0 25px black; */
    z-index: 3;
    position: relative;
    
    /* background-image: linear-gradient(141deg, rgba(97, 97, 97, 0.18) 0%, rgba(0, 0, 0, 0.23) 75%); */
    background-image: linear-gradient(141deg, rgba(97, 97, 97, 0.38) 0%, rgba(0, 0, 0, 0.57) 75%);  
    
    /* Christmas etc */
    /* background-image: linear-gradient(141deg, rgba(97, 97, 97, 0.38) 0%, rgba(0, 0, 0, 0) 75%); 
    background-color: white;   */
}

header#top h2 {
    font-size:50px;
    font-weight:lighter;
    color:white;
    text-shadow: 2px 2px black;
    margin:0;
}

header#top p {
    color: #ffffed;
}

#st-josephs-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
    box-shadow: 0 0 45px rgba(0,0,0,0.3);
}

header#top h3 {
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-shadow: black 2px 2px 5px;
}

header#top h3 a {
    color: blanchedalmond;

}

/* TOP NAVIGATION */

div.top-nav {
    width: 100%;
}

.top-nav ul {
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.top-nav ul li {
    display:inline-block;
    list-style: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.top-nav ul li a {
    /* font-weight: bold; */
    text-decoration: none;
    color: #555;
}

.top-nav ul li a:hover {
  text-decoration: underline;
}


/* BODY CONTENT */

main#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}


/* general section rules */
main > section {
    /* background-color:#ddd; */
    margin-top:40px;
    max-width: 800px;
}

/* section 1 of 1 */
main > div.top-nav + section:nth-last-child(1) {
    border:5px solid pink;
    border: none;
    flex:1;
    min-height:600px;
}

/* section 1 of 2 */
main > div.top-nav + section:nth-last-child(2) {
    border: 5px solid purple;
    border:none;
}

/* section 2 of 2 */
main > div.top-nav + section + section:nth-last-child(1) {
    border: 5px solid cyan;
    border:none;
    flex:1;
    min-height:600px;
}

/* section 1 of 3 */
main > div.top-nav + section:nth-last-child(3) {
    border: 5px solid magenta;
    border:none;
    max-width: 300px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    order: 0;
    padding: 10px;
}

main > div.top-nav + section:nth-last-child(3) p {
    font-size:13px;
}

main > div.top-nav + section:nth-last-child(3) h3 {
    font-size:1.17em;
}
/* section 2 of 3 */
main > div.top-nav + section + section:nth-last-child(2) {
    border: 5px solid black;
    border:none;
    margin-left: 40px;
    margin-right: 40px;
    min-height:600px;
    flex:1;
}

/* section 3 of 3 */
main > section + section + section {
    border: 5px solid red;
    border:none;
}



body {
  background-color: white;
}


#content > header {display:none;}

/* GENERAL PARA STYLES */


h2 {
 font-size: 26px;
 font-weight: lighter;
 margin-top: 16px;
 margin-bottom: 10px;
}


h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

b {
  font-weight: bold;
}


p {
  margin-bottom: 1.5em;
}


ul.groups li {
  list-style: none;
}

ul.groups li a {
  color: #555;
  text-decoration: none;
  display: block;
  padding: 5px;
  /* this transition will ensure that fade OUT of hover state is slow */
  /* transition: 0.4s ease-in-out all; */
}


ul.groups li a:hover {
  background-color: #eee;
  /* by setting transition none here it will immediately be in the hover state */
  transition: none;
}

/* CUNNING AUTO IMAGES */

/* FOOTER */

footer {
  background-color: black;
  border-top: 1px solid #999;
  height: 65px;
  padding:20px;
}

footer * {
  color: #aaa;
}



.shadowed {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* Some specific things to improve newsletter layout, but I might generalise these... */
section h2 {
    font-size: 30px;
    text-align: left;
    border-bottom: 1px solid #bbb;
}

h3 {
    font-size: 1.6em;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
}



/* hidden headings */
#hide1, #hide2, #hide3 {
    display: none;
}


figure img {
    width:790px;
    border: 5px solid white;
    box-shadow: 5px 5px 50px rgba(0,0,0,0.3);
}

figure {
    margin-top:10px;
    margin-bottom:30px;
}

figure .figure-number {
    display:none;
}
